body {
    margin: 0;
    min-height: 100vh;
    box-sizing: border-box;
    background-color: #5AF;
    background-image: linear-gradient(-45deg, #24F, #5EF);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    display: flex;
    justify-content: center;
}

main.search, div.weather {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

main.search > #logo {
    margin: 10% 0 8%;
}

#search-bar {
    margin-top: 8px;
    padding: 8px;
    border-radius: 18px;
    background-color: #FFFC;
    box-shadow: 1px 1px 4px 1px #0004;
    display: flex;
    align-items: center;
}

#search-bar > * {
    border: 0;
    background-color: #FFF0;
}

#search-bar > button {
    padding: 4px;
}

#search-icon {
    margin-bottom: -2px;
}

#input-city {
    font-size: 0.9em;
    padding: 8px 12px;
    border-radius: 10px;
}

p {
    margin: 0.5em 0;
}

li {
    margin: 1.2em 0;
}