body {
    margin: 0;
    min-height: 100vh;
    box-sizing: border-box;
    background-color: #5AF;
    background-image: linear-gradient(-45deg, #24F, #3CF);
    background-attachment: fixed;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    display: flex;
    justify-content: center;
    
    transition: background-image 1s ease;
}

body.night {
    color: #FFF;
    background-color: #136;
    background-image: linear-gradient(-45deg, #025, #248);
}

#root {
    width: 100%;
}

/*
    SEARCH PAGE STYLES
*/

main.search {
    padding: 16px;
    height: 100%;
    max-height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main.search > #logo {
    max-width: 80%;
    margin: -18vh 0 4vh;
}

#city-search {
    position: relative;
    font-size: 1em;
    flex-shrink: 1;
    width: 420px;
    max-width: 100%;
}

#search-bar {
    margin-top: 8px;
    padding: 8px;
    border-radius: 18px;
    display: flex;
    align-items: center;
    background-color: #FFFC;
    box-shadow: 1px 1px 4px 1px #0004;
}

#search-bar > * {
    border: 0;
    background-color: #FFF0;
}

#search-bar > button {
    padding: 6px;
    border-radius: 6px;
    transition: background-color 0.12s ease-in-out;
}

#search-bar > button:hover {
    background-color: #FFF7;
}

#search-bar > button:active {
    background-color: #FFFD;
}

#search-icon {
    margin-bottom: -2px;
    transition: transform 0.12s ease-in-out;
}

button:hover > #search-icon  {
    transform: scale(1.06);
}

button:active > #search-icon  {
    transform: scale(1.16);
}

#input-city {
    padding: 8px 12px 8px 8px;
    border-radius: 10px;
    flex-grow: 1;
}

#search-suggestions {
    background-color: #FFFC;
    box-shadow: 1px 1px 4px 1px #0004;
    border-radius: 18px;
    width: 100%;
    margin-top: 8px;
    position: absolute;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}

#search-suggestions.hidden {
    display: none;
}

#search-suggestions button {
    background-color: #FFF0;
    border: 0;
    outline-offset: -3px;
    display: flex;
    align-items: center;
    border-radius: 18px;
    transition: background-color 0.1s cubic-bezier(0, 0.6, 0.5, 0.9);
}

#search-suggestions button:hover {
    background-color: #FFF6;
}

#search-suggestions button:active {
    background-color: #FFFD;
}

#search-suggestions img {
    margin: 6px 12px 6px 8px;
}

#search-suggestions span {
    text-align: start;
}

#location-box {
    max-width: 200px;
    margin-top: 16px;
    padding: 12px;
    border: 2px dashed #FF0;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

#location-box > p {
    text-align: center;
    margin-top: 0;
}

#location-box > #location-error {
    color: #A00;
}

#location-box > button {
    background-color: #FA0;
    border: 0;
    border-radius: 8px;
    box-shadow: 1px 1px 4px 0 #0003;
    transition: all 0.2s ease-in-out;

    padding: 8px;
    display: flex;
    align-items: center;
}

#location-box > button:enabled:hover {
    background-color: #FB2;
    box-shadow: 1px 1px 4px 1px #0003;
}

#location-box > button:enabled:active {
    background-color: #FC5;
    box-shadow: 1px 1px 4px 2px #0003;
}

#location-box > button > img {
    margin-right: 8px;
}

/*
    WEATHER PAGE STYLES
*/

.weather {
    padding-top: 96px;
    display: flex;
    justify-content: center;
}

.weather > header {
    background-color: #FFF4;
    backdrop-filter: blur(8px);
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.weather > div {
    display: inline-block;
}

#btn-back {
    border: 0;
    padding: 12px;
    margin: 0 16px;
    border-radius: 8px;
    background-color: #FFF0;
    transition: background-color 0.12s ease-in-out;
}

#btn-back:hover {
    background-color: #FFF2;
}

#btn-back:active {
    background-color: #FFF4;
}

#btn-back > img {
    margin-bottom: -2px;
    transition: transform 0.12s ease-in-out;
}

#btn-back:hover > img {
    transform: scale(1.06);
}

#btn-back:active > img {
    transform: scale(1.16);
}

header > .filler {
    flex-grow: 1;
    margin-left: 16px;
}
header > #datos-ciudad {
    margin: 0 16px;
}

body.night .weather > header {
    background-color: #FFF2;
}

.weather > div > main {
    box-sizing: border-box;
    padding-left: calc(32px + 180px + 64px);
    width: 960px;
    max-width: calc(100vw - 32px * 2);
}

#sky-icon {
    position: fixed;
    margin-top: 64px;
    margin-left: 32px;
}

#data-current, #data-hours, #data-days {
    background-color: #FFF2;
    margin: 24px 0;
    padding: 20px;
    border-radius: 24px;
}

h2 {
    margin-top: 0;
}

#current-temp {
    font-size: 4em;
    margin-top: 8px;
}

.current-column {
    display: inline-block;
    width: 50%;
}

.data-items {
    display: flex;
    overflow-x: scroll;
    gap: 6px;
}

.data-items.scroll-s {
    mask: linear-gradient(90deg, #FFF0, #FFFF 8px);
}
.data-items.scroll-e {
    mask: linear-gradient(270deg, #FFF0, #FFFF 8px);
}
.data-items.scroll-s.scroll-e {
    mask: linear-gradient(90deg, #FFF0, #FFFF 8px, #FFFF calc(100% - 8px), #FFF0);
}

.data-item {
    background-color: #FFF2;
    padding: 12px 8px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.data-item > *:nth-child(1) {
    margin-top: 0;
    text-align: center;
}

.hour-temp {
    font-size: 1.2em;
}

.day-icons {
    display: flex;
    gap: 14px;
}

.day-temp {
    font-size: 1.15em;
}

.data-rain {
    display: flex;
}

.data-rain > img {
    margin-right: 4px;
}

p {
    margin: 0.5em 0;
}

li {
    margin: 1.2em 0;
}

/*
    MOBILE STYLES
*/
@media (width < 720px) {
    #btn-back {
        margin: 0 8px;
    }

    #btn-back > img {
        height: 24px;
    }

    header > #logo {
        height: 66px;
    }
    
    header > .filler {
        margin-left: 8px;
    }

    header > #datos-ciudad {
        margin: 0 8px;
    }

    .weather {
        padding-top: 66px;
    }

    .weather > div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .weather > div > main {
        padding-left: 0;
        max-width: calc(100vw - 16px * 2);
    }

    #sky-icon {
        position: static;
        margin: 24px 0 0;
        width: 120px;
    }
    
    #data-current, #data-hours, #data-days {
        margin: 16px 0;
    }
}